<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>
    <div class="input-row">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>First name</mat-label>
                <input [(ngModel)]="user.firstName" matInput placeholder="First name">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Last name</mat-label>
                <input [(ngModel)]="user.lastName" matInput placeholder="Last name">
            </mat-form-field>
        </p>
    </div>  
    <div class="input-row">
        <p class="width100">
            <mat-form-field appearance="fill" class="width100">
                <mat-label>Birth Date</mat-label>
                <input [(ngModel)]="birthDate" matInput placeholder="Birth date" [matDatepicker]="picker1">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </p>
    </div>
    <div class="input-row">
        <p class="width100">
            <mat-form-field appearance="fill" class="width100">
                <mat-label>Street + House Nu.</mat-label>
                <input [(ngModel)]="user.street" matInput placeholder="Street + House Nu.">
            </mat-form-field>
        </p>
    </div> 
    <div class="input-row">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Zip code</mat-label>
                <input [(ngModel)]="user.zipCode" matInput placeholder="Zip code">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input [(ngModel)]="user.city" matInput placeholder="City">
            </mat-form-field>
        </p>
    </div>
          
</div>
<div mat-dialog-actions>
  <button mat-button>Cancel</button>
  <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
</div>