.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;
    
}

.logo-container {
    border-bottom: 1px solid rgba(0,0,0,0.04);
    padding: 0px 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
}

mat-toolbar, mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

.menu-items {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
        padding: 0px 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;
        mat-icon {
            margin-right: 16px;
        }

        &:hover {
            background-color: rgba(0,0,0,0.04);
        }
        &:focus {
            outline: none;
        }
    }
}

.router-container {
    padding-left: 56px;
    padding-top: 16px;
}